* {
    font-family: "Lato", sans-serif;
}

#teachers {
    align-items: center;
    background-color: #fff;
}

.teachers-container {
    align-items: center;
}

#teachers .wrapper {
    justify-content: center;
    align-items: center;
}

#teachers h2 {
    color: #272a31;
    margin-bottom: 0;
}

.teachers-card {
    position: relative;
    margin: 0;
}

.teachers-deco {
  position: absolute;
  top: 0;
  left: 0;
  width: 17.1875vw;
  max-width: 55px;
  z-index: 2;
}

.teachers-img {
  position: relative;
  margin-top: 4%;
  margin-left: 4%;
  width: 31.25vw;
  max-width: 150px;
  z-index: 2;
}

.teachers-info {
  padding-top: 4%;
  height: 100%;
  margin: 0 2%;
}

.teachers-info h3 {
  font-size: 14px;
  margin-bottom: 0;
}

.teachers-info h4 {
  font-size: 12px;
  font-weight: 100;
  color: #ec5342;
  margin: 2.5% 0;
}

.teachers-info hr {
  text-align: center;
  width: 10%;
  margin-left: 0;
}

.teachers-info p {
  font-size: 10px;
  margin-top: 5px;
  margin-bottom: 0;
}

.teachers-btn {
  max-width: 400px;
  width: 90%;
  height: 40px;
  background-color: white;
  border: 1px solid #d3d3d3;
  margin: 40px 0;
  transition: 0.2s;
  cursor: pointer;
}

.teachers-btn i {
  color: #ec5342;
}

.teachers-btn:hover {
  background-color: #d3d3d3;
}

.up {
  transform: rotate(180deg);  
}